Core/bin/Debug/
Core/bin/Release/
Core/bin/x64/Debug/
Core/bin/x64/Release/Common.dll
Core/bin/x64/Release/
Core/bin/x86/Debug/
Core/bin/x86/Release/Core.dll
Core/bin/x86/Release/
Core/obj/Debug/
Core/obj/Release/
Core/obj/x64/Debug/
Core/obj/x64/Release/
Core/obj/x86/Debug/
Core/obj/x86/Release/
Model/bin/Debug/
Model/obj/Debug/
Models/obj/Debug/
PdfSharp/bin/Debug/
PdfSharp/bin/Release/
PdfSharp/bin/x86/Debug/
PdfSharp/obj/Debug/CoreCompileInputs.cache
PdfSharp/obj/Debug/
PdfSharp/obj/Release/
PdfSharp/obj/x86/Debug/
SpeedDetailsImageVisualizer/obj/Debug/
SpeedDetailsImageVisualizer/bin/Debug/
SpeedDetailsImageVisualizer/bin/Release/
SpeedDetailsImageVisualizer/bin/x86/Debug/report/Lotto Esempio.pdf
SpeedDetailsImageVisualizer/bin/x86/Debug/
.vs/SpeedDetailsImageVisualizer/v15/.suo
.vs/SpeedDetailsImageVisualizer/v15/Server/sqlite3/storage.ide-shm
.vs/SpeedDetailsImageVisualizer/v15/Server/sqlite3/storage.ide-wal
.vs/SpeedDetailsImageVisualizer/v15/Server/sqlite3/storage.ide
.vs/
SpeedDetailsImageVisualizer/obj/Release/
SpeedDetailsImageVisualizer/bin/Remote Report_1.1.0.2/Additional.txt
SpeedDetailsImageVisualizer/bin/
Models/bin/
Common/bin/
Business/obj/
Business/bin/
Common/obj/
DialogService/bin/
DialogService/obj/
Models/obj/
